<%- include('partials/header') %>

  <h1 class="font-bold text-xl mb-2 bg-linear-to-r from-indigo-500 to-cyan-500 text-transparent bg-clip-text">
    Upload Files
  </h1>
  
  <div class="flex gap-x-2 items-center justify-start">
    <div>
      <% if (qr) { %>
        <div class="relative p-0.5 w-30 h-30 mb-2 bg-linear-to-r from-indigo-500 to-cyan-500 rounded">
          <img src="<%= qr %>" class=" w-29 h-29 rounded">
        </div>
        <% } %>
    </div>

    <div class="relative p-0.5 w-30 h-30 mb-2 bg-linear-to-r from-indigo-500 to-cyan-500 rounded">
      <a href="/browse" class="rounded w-29 h-29 bg-gray-100 flex items-center justify-center">
        <span class="scale-300 hover:scale-400 hover:rotate-90 duration-700">📂</span>
      </a>
    </div>
  </div>


  <% if (url) { %>
    <p class="mb-4 bg-linear-to-r from-indigo-500 to-cyan-500 text-transparent bg-clip-text font-bold">
      <%= url %>
    </p>
    <% } %>


      <div class="relative p-0.5 bg-linear-to-r from-indigo-500 to-cyan-500 rounded">
        <form method="post" action="/upload" enctype="multipart/form-data" class="bg-white p-4 rounded shadow">
          <input type="file" name="files" multiple class="mb-3 block w-full">
          <button class="bg-linear-to-r from-indigo-500 to-cyan-500 text-white px-4 py-1 rounded">
            Upload
          </button>
        </form>
      </div>



      <%- include('partials/footer') %>