<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>File Transfer Local</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/style.css" rel="stylesheet">
</head>
<body class="bg-gray-100 text-sm">
  <div class="max-w-5xl mx-auto p-4">
